@import "lib/variables";

body{
	margin:0;
	font-family: 'Nanum Gothic', sans-serif;
}


.menu{
	position: fixed;
	width: 100%;
	z-index: 1;

	&__items{
		display: flex;
		justify-content:space-evenly;
		align-items:center;
		background-color: $color-darkgrey;
		margin:0;
		font-size: 16px;
		height: 3.6rem;
		}
			&__item{
				list-style-type: none;
			}
			&__link{
				color:$color-white;
				text-decoration: none;

				&:hover{
					border-bottom: 3px solid $color-complement;
					color:$color-complement;
				}
			}
	}


.title-conteo{
	display: inline-block;
	font-family: 'Knewave', cursive;
	left: 2rem;
	line-height: 30px;
	padding:50px;
	position: relative;
}
.title__jump{
	display: block;
}
/*
.u-wrapper{
  max-width: 1000px;
  margin:auto;
  position: relative;
  width: auto;
} */

.template{
	background-image:url(../images/fondo-landingpage.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.texto-invasion,
.texto-club{
	width:600px;
	font-size: 20px;
	// position: relative;
	transform: translate(300px, 190px);
}

.invasion,
.club,
.actividades,
.arrive,
.contact{
	height:80vh;
	overflow: hidden;

}

.logoInvacion{
	transform: translate(930px, -200px) rotate(40deg);
	// transform: ;
}
.capitan-america{
	transform: translate(80px, 150px);
}

.texto-club{
	transform:translate(550px, -70px);
}

.quienes-somos{
	width:23rem;
	transform:translate(150px, 80px) rotate(-30deg);
}
.batman-image{
	transform: translate(800px, -120px);
}



//conteo
.conteo{
	display: flex;
	justify-content: space-around;
	align-content: center;
	text-align: center;
	padding: 32px 0px 32px 0;
}
.countdown {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // padding-top: 32px;
  // padding-bottom: 32px;
}

.countdown div {
  padding: 20px;
  // border: 1px #fff solid;
  border-radius: 10px;
  background: $color-rojo;
  opacity: 0.7;
  margin: 5px;
}

.countdown div:first-child {
  background: $color-gris;
}

.countdown span {
  display: block;
  font-size: 25px;
}